$color0: #264653;
$color1: #2a9d8f;
$color2: #e9c46a;
$color3: #f4a261;
$color4: #e76f51;

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  .display-panel {
    width: 100%;
    border: 5px black solid;
    padding: 20px;
    .marker-list {
      justify-content: center;
    }
  }
  .control {
    margin-top: 50px;
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .control-panel {
    .marker-color {
      .option0 {
        background-color: $color0;
      }

      .option1 {
        background-color: $color1;
      }
      .option2 {
        background-color: $color2;
      }
      .option3 {
        background-color: $color3;
      }
      .option4 {
        background-color: $color4;
      }
    }
  }
}

#map {
  width: 60%;
  height: 60vh;
}
