<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shared Map</title>
    <link rel="stylesheet" href="/stylesheets/map.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />
  </head>
  <body>
    <h1>Shared Map</h1>

    <div class="container">
      <div class="display-panel">
        <h2>List of markers</h2>
        <div class="marker-list">
          <p>markers will be listed here...</p>
        </div>
      </div>
      <div id="map"></div>
      <div class="control">
        <button class="button-clear">clear layer</button>
        <button class="button-show">show layers</button>
        <button class="button-sync">sync data</button>
      </div>
      <div class="control-panel">
        <select name="marker-color" class="marker-color">
          <option value="0" class="option0" selected>color 0</option>
          <option value="1" class="option1">color 1</option>
          <option value="2" class="option2">color 2</option>
          <option value="3" class="option3">color 3</option>
          <option value="4" class="option4">color 4</option>
        </select>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <script src="/javascripts/map/mapSocket.js"></script>
    <script src="/javascripts/map/openStreetMap.js"></script>
  </body>
</html>
